{% extends 'base.html.twig' %}

{% block body %}

    {{ tinymce_init({'theme': {'simple': {'menubar': false}}}) }}

    <div class="container admin">

        <h1 class="citationadmin">Editer la citation</h1>

            {{ form_start(edit_form) }}

                <div class="row textarea tinymce">
                    {{ form_label(edit_form.text) }}
                    {{ form_widget(edit_form.text) }}
                    {{ form_errors(edit_form.text) }}
                </div>

                <div class="boutons">
                    <div class="row">
                        <button type="submit" title="Editer"><i class="material-icons li_doudous doudous">done</i></button>
                        <a href="{{ path('citation_delete', { 'id': citation.id }) }}" title="Effacer"><i class="material-icons li_doudous doudous">delete</i> </a>
                        <a href="{{ path('citation_index') }}" title="Revenir à l'accueil"><i class="material-icons li_doudous doudous">arrow_back</i></a>
                        <a href="{{ path('admin_homepage') }}" title="Retourner à l'accueil de l'administration"><i class="material-icons li_doudous doudous">dashboard</i></a>
                    </div>
                </div>
            {{ form_end(edit_form) }}
    </div>
{% endblock %}
