{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Chouettes/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}

    {{ tinymce_init() }}  {#WYSIWYG#}

    <div class="container admin">

<h1 class="citationadmin">Editer la citation</h1>

    {{ form_start(edit_form) }}

        <div class="row textarea tinymce">
            {{ form_label(edit_form.text) }}
            {{ form_widget(edit_form.text) }}
            {{ form_errors(edit_form.text) }}
        </div>

        <button type="submit" title="Editer"><i class="material-icons doudous">done</i></button>
    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}<button type="submit" title="Effacer"><i class="material-icons doudous">delete</i></button>{{ form_end(delete_form) }}


    <div class="boutons">
       <div class="row">
           <a href="{{ path('citation_index') }}" title="Revenir à l'accueil"><i class="material-icons doudous">arrow_back</i></a>
           <a href="{{ path('admin_homepage') }}" title="Retourner à l'accueil de l'administration"><i class="material-icons doudous">dashboard</i></a>
       </div>
   </div>
</div>
{% endblock %}
