{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Chouettes/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}

    {{ tinymce_init({'theme': {'simple': {'menubar': false}}}) }}

<div class="container admin">

    <h1 class="citationadmin">Créer une citation</h1>

    {{ form_start(form) }}

        <div class="row tinymce">
            {{ form_label(form.text) }}
            {{ form_widget(form.text) }}
            {{ form_errors(form.text) }}
        </div>




    <div class="boutons">
        <div class="row">
            <div class="col l12">
                <button type="submit" title="Valider"><i class="material-icons doudous">done</i></button>
                <a href="{{ path('citation_index') }}" title="Revenir à l'accueil"><i class="material-icons doudous">arrow_back</i></a>
                <a href="{{ path('admin_homepage') }}" title="Retourner à l'accueil de l'administration"><i class="material-icons doudous">dashboard</i></a>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

</div>
{% endblock %}
