{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Chouettes/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}

    <div class="container admin">
    <h1>Modifier un modèle</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="boutons">
            <button type="submit" title="Valider"><i class="material-icons">check</i></button>
            <a href="{{ path('modele_delete', { 'id': modele.id }) }}" title="Effacer"><i class="material-icons">delete</i> </a>
            <a href="{{ path('modele_index') }}" title="Revenir à l'accueil"><i class="material-icons">arrow_back</i></a>
            <a href="{{ path('admin_homepage') }}" title="Retourner à l'accueil de l'administration"><i class="material-icons">dashboard</i></a>
        </div>
        {{ form_end(edit_form) }}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    </div>
{% endblock %}