{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Chouettes/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}

    <div class="container admin adminmodele">
    <h1>Liste des modèles</h1>

    <table class="responsive-table bordered striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Titre</th>
                <th>Catégorie</th>
                <th>Contenu</th>
                <th>Ajouter à<br> l'accueil</th>
                <th>Editer</th>
            </tr>
        </thead>
        <tbody>
        {% for modele in modeles %}
            <tr>
                <td><img src="{{ asset('uploads/images/') }}{{ modele.image }}" alt="{{ modele.image.alt }}"></td>
                <td>{{ modele.titre }}</td>
                <td>{{ modele.categorie|raw }}</td>
                <td><div class="bigtxt">{{ modele.contenu|raw }}</div></td>
                <td>{% if modele.addblock %}Oui{% else %}Non{% endif %}</td>
                <td>
                    <div class="boutons">
                        <a href="{{ path('modele_edit', { 'id': modele.id }) }}" title="Editer"><i class="material-icons contactme">edit</i></a>
                        <a href="{{ path('modele_delete', { 'id': modele.id }) }}" title="Effacer"><i class="material-icons contactme">delete</i> </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="boutons">
                <a href="{{ path('modele_new') }}" title="Créer un nouveau modèle"><i class="material-icons contactme">add_circle</i></a>
                <a href="{{ path('admin_homepage') }}" title="Retourner à l'accueil de l'administration"><i class="material-icons contactme">dashboard</i></a>
        </div>

    </div>

{% endblock %}
