{% extends 'base.html.twig' %}

{% block body %}

    <div class="container admin adminmodele">
    <h1>Liste des modèles</h1>

    <div class="boutons-haut">
        <a href="{{ path('modele_new') }}" title="Créer un nouveau modèle"><i class="material-icons contactme">add_circle</i></a>
        <a href="{{ path('admin_homepage') }}" title="Retourner à l'accueil de l'administration"><i class="material-icons contactme">dashboard</i></a>
    </div>

    <table class="responsive-table bordered striped" id="table_id">
        <thead>
            <tr>
                <th>Image</th>
                <th>Titre</th>
                <th>Catégorie</th>
                <th>Contenu</th>
                <th>Ajouter à<br> l'accueil</th>
                <th>Editer</th>
            </tr>
        </thead>
        <tbody>
        {% for modele in modeles %}
            <tr>
                <td><img class="thumbsindex" src="{{ modele.image | imagine_filter('my_thumb') }}" alt="{{ modele.image.alt }}"></td>
                <td>{{ modele.titre }}</td>
                <td>{{ modele.categorie|raw }}</td>
                <td><div class="bigtxt">{{ modele.contenu|raw }}</div></td>
                <td>{% if modele.addblock %}Oui{% else %}Non{% endif %}</td>
                <td>
                    <div class="boutons">
                        <a href="{{ path('modele_edit', { 'id': modele.id }) }}" title="Editer"><i class="material-icons contactme">edit</i></a>
                        <a href="{{ path('modele_delete', { 'id': modele.id }) }}" title="Effacer"><i class="material-icons contactme">delete</i> </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>
$(document).ready( function () {
$('#table_id').DataTable({
    "dom": '<lf<t>ip>',
    "pageLength": 10,
    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    "language": {
        "sProcessing":     "Traitement en cours...",
        "sSearch":         "Rechercher&nbsp;:",
        "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
        "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
        "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
        "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
        "sInfoPostFix":    "",
        "sLoadingRecords": "Chargement en cours...",
        "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
        "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
        "oPaginate": {
            "sFirst":      "Premier",
            "sPrevious":   "Pr&eacute;c&eacute;dent",
            "sNext":       "Suivant",
            "sLast":       "Dernier"
        },
        "oAria": {
            "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
            "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
        }
    }}
);
} );
</script>

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

{% endblock %}