{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Chouettes/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container admin">
    <h1>Modele</h1>

    <table>
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ modele.titre }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('uploads/images/') }}{{ modele.image.url }}" alt="{{ modele.image.alt }}" </td>
            </tr>

            <tr>
                <th>Contenu</th>
                <td>{{ modele.contenu }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ modele.lien }}</td>
            </tr>
            <tr>
                <th>Ajouter à l'accueil</th>
                <td>{% if modele.addblock %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

<<<<<<< HEAD
    <ul>
        <li>
            <a href="{{ path('modele_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('modele_edit', { 'id': modele.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('modele_delete', {'id': modele.id }) }}">Delete</a>
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        </li>
    </ul>

    <div class="boutons">
            <a href="{{ path('modele_index') }}" alt="Accueil"><i class="material-icons">home</i></a>
            <a href="{{ path('modele_edit', { 'id': modele.id }) }}"><i class="material-icons">edit</i></a>
            <a href="{{ path('modele_delete', { 'id': modele.id }) }}"><i class="material-icons">delete</i> </a>
        <a href="{{ path('admin_homepage') }}" title="Retourner à l'accueil de l'administration"><i class="material-icons">dashboard</i></a>


{% endblock %}
