{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modele</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ modele.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ modele.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ modele.contenu }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ modele.lien }}</td>
            </tr>
            <tr>
                <th>Add_block</th>
                <td>{% if modele.addblock %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('modele_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('modele_edit', { 'id': modele.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('modele_delete', { 'id' : modele.id }) }}">Delete</a>
        </li>
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    </ul>
{% endblock %}
