{% extends 'base.html.twig' %}

{% block body %}

    {{ tinymce_init({'theme': {'simple': {'menubar': false}}}) }}

    <div class="container admin">

    <h1 class="whoadmin">Modifier "Qui suis-je?"</h1>

    {{ form_start(edit_form) }}

        <div class="row">
            <div class="col l12 m12 s12">
                <div class="row textarea tinymce">
                    <label for="whoami_text" class="required active">Contenu</label>
                    {{ form_widget(edit_form.text) }}
                    {{ form_errors(edit_form.text) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col l4 m4 s12 center">
                <img class="responsive-img thumbs" src="{{ asset('uploads/images/') }}{{ whoami.image.url }}" alt="{{ whoami.image.alt }}">
            </div>

            <div class="col l8 m8 s12">
                <div class="row file-field input-field">
                    <div class="btn">
                        <span>Image</span>
                        {{ form_widget(edit_form.image.file) }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Cliquez pour ajouter votre image">
                    </div>
                    {{ form_errors(edit_form.image.file) }}
                </div>
                <div class="row input-field">
                    {{ form_label(edit_form.image.alt) }}
                    {{ form_widget(edit_form.image.alt) }}
                    {{ form_errors(edit_form.image.alt) }}
                </div>
            </div>
        </div>



    <div class="boutons">
        <div class="row">
            <button type="submit" title="valider"><i class="material-icons accessoires">done</i></button>
            <a href="{{ path('whoami_index') }}" title="Revenir à l'accueil"><i class="material-icons accessoires">arrow_back</i></a>
            <a href="{{ path('admin_homepage') }}" title="Retourner à l'accueil de l'administration"><i class="material-icons accessoires">dashboard</i></a>
        </div>
    </div>

        {{ form_end(edit_form) }}

    </div>

{% endblock %}
