{% extends 'base.html.twig' %}

{% block body %}
    {{ tinymce_init() }}  {#WYSIWYG#}

    <div class="container admin">
    <h1 class="whoadmin">Qui suis-je ?</h1>

    <table class="responsive-table bordered striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Texte</th>
                <th>Editer</th>
            </tr>
        </thead>
        <tbody>
        {% for whoami in whoamis %}
            <tr>
                <td><img class="thumbsindex" src="{{ asset('uploads/images/') }}{{ whoami.image }}" alt="{{ whoami.image.alt }}"></td>
                <td><div class="bigtxt">{{ whoami.text|raw  }}</div></td>
                <td><a href="{{ path('whoami_edit', { 'id': whoami.id }) }}" title="Editer"><i class="material-icons accessoires">edit</i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="boutons">
            {% if whoamis == null %}
                <a href="{{ path('whoami_new') }}" title="Ajouter un qui suis je"><i class="material-icons accessoires">add_circle</i></a>
            {% else %}

            {% endif %}
            <a href="{{ path('admin_homepage') }}" title="Retourner à l'accueil de l'administration"><i class="material-icons accessoires">dashboard</i></a>
        </div>
    </div>
{% endblock %}
