{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Chouettes/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}

    {{ tinymce_init({'theme': {'simple': {'menubar': false}}}) }}

    <div class="container admin">

        <h1 class="whoadmin">Créer un qui suis-je</h1>

        {{ form_start(form) }}

        <div class="row tinymce">
            {{ form_label(form.text) }}
            {{ form_widget(form.text) }}
            {{ form_errors(form.text) }}
        </div>

        <div class="row file-field input-field">
            <div class="btn">
                <span>Image</span>
                {{ form_widget(form.image.file) }}
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Cliquez pour ajouter votre image" required>
            </div>
            {{ form_errors(form.image.file) }}
        </div>

        <div class="row input-field">
            {{ form_label(form.image.alt) }}
            {{ form_widget(form.image.alt) }}
            {{ form_errors(form.image.alt) }}
        </div>



        <div class="boutons">
            <div class="row">
                <div class="col l12">
                    <button type="submit" title="Valider"><i class="material-icons accessoires">done</i></button>
                    <a href="{{ path('whoami_index') }}" title="Revenir à l'accueil"><i class="material-icons accessoires">arrow_back</i></a>
                    <a href="{{ path('admin_homepage') }}" title="Retourner à l'accueil de l'administration"><i class="material-icons accessoires">dashboard</i></a>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
