{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Chouettes/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container admin">
    <h1 class="whoadmin">Création "Qui suis-je?"</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" title="Valider"><i class="material-icons accessoires">done</i></button>
    {{ form_end(form) }}

        <div class="boutons">
            <a href="{{ path('whoami_index') }}" title="Revenir à l'accueil"><i class="material-icons accessoires">arrow_back</i></a>
            <a href="{{ path('admin_homepage') }}" title="Retourner à l'accueil de l'administration"><i class="material-icons accessoires">dashboard</i></a>
        </div>
    </div>
{% endblock %}
