{% extends 'base.html.twig' %}

{% block header %}

    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{ path ('chouettes_homepage') }}" class="brand-logo center">
                    <img src="{{ asset ('bundles/chouettes/images/logo2min.png') }}" alt="Chouettes Hiboux Doudous" class="nb_navbar_logo">
                </a>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="logadmin">
                        <a href="{{ path('admin_homepage') }}" class="adminlog"><i class="fa fa-th fa-3x" aria-hidden="true" title="Accéder à l'administration"></i></a>
                    </div>
                {% else %}

                {% endif %}
            </div>
        </nav>
    </header>

{% endblock %}

{% block body %}

{#--------- CITATION ------------------------------------------------------#}
{# Si pas de citation dans la base de données le blockquote n'est pas affiché #}
{# cf. DefaultController.php #}
    {% if citation == "" %}
        <br>
    {% else %}
        <blockquote>
        {{ citation|raw }}
        </blockquote>
    {% endif %}

{#---------  Message envoi mail OK -----------------------------------------------------#}

    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="row container">
            <div class="flash-notice center">
                {{ flash_message }}
            </div>
        </div>

    {% endfor %}

{#---------  BLOCK 9 images   ---------------------------------------------#}
<!-- DEBUT Block 9 images -->
    <div class="container bckground">
<!-- DEBUT PREMIERE LIGNE -->

        <div class="row rowCustom">
            <!-- Ligne 1 cube 1 -->
            <div class="col l4 m4 s12 colCustom center li_doudous">
                <a href="{{ path('chouettes_doudous') }}">
                    <div class="boxMenu">
                        <h1 class="h3BoxMenu doudousindex">Doudous</h1>
                        <div class="center notForSmall">
                            <img class="imgChouetteAnimee" data-alt-src="{{ 'doudous-chouette2.png' | imagine_filter('thumb_fixe') }}" src="{{ 'doudoux-chouette1.png' | imagine_filter('thumb_fixe') }}" alt="doudous fait main"/>
                        </div>
                    </div>
                </a>
            </div>
<!-- End col l4 m3 s1-->

<!-- Ligne 1 cube 2 -->
            <div class="col l4 m4 s12 colCustom">
                <div class="ih-item square effect13 top_to_bottom">
                    <a href="{{ path('chouettes_doudous', {'id': doudous.id}) }}">
                        <div>
                            <img class='imgDamier' src="{{ doudous.image.url | imagine_filter('my_thumb') }}" alt="{{ doudous.image.alt }}">
                        </div>
                        <div class="info">
                            <h3> {{ doudous.titre }}</h3>
                        </div>
                    </a>
                </div>
<!-- End h-item square effect15 top_to_bottom -->
            </div>

<!-- Ligne 1 cube 3 -->
            <div class="col l4 m4 s12 colCustom center li_bijoux">
                <a href="{{ path ('chouettes_bijoux') }}">
                    <div class="boxMenu">
                        <h1 class="h3BoxMenu bijouxindex">Bijoux</h1>
                        <div class="center notForSmall">
                            <img  class="imgChouetteAnimee" data-alt-src="{{ 'bijoux-chouette2.png' | imagine_filter('thumb_fixe') }}" src="{{ 'bijoux-chouette1.png' | imagine_filter('thumb_fixe') }}" alt="bijoux fait main"/>
                        </div>
                    </div>
                </a>
            </div>
<!-- End col l4 m3 s1-->
        </div>
<!-- End ROW -->
<!-- FIN PREMIERE LIGNE -->

<!-- DEBUT DEUXIEME LIGNE -->
        <div class="row rowCustom">

            <div class="col l4 m4 s12 colCustom">
                <div class="ih-item square effect13 top_to_bottom">

                    <a href="{{ path ('chouettes_doudous') }}">
                        <div>
                            <img class='imgDamier' src="{{ doudous2.image.url | imagine_filter('my_thumb') }}" alt="{{ doudous2.image.alt }}">
                        </div>
                        <div class="info">
                            {#<h3>Grands doudous</h3>#}
                            <h3> {{ doudous2.titre }}</h3>
                        </div>
                    </a>
                </div>
<!-- End h-item square effect15 top_to_bottom -->
            </div>

            <div class="col l4 m4 s12 colCustom center li_accessoires">
                <a href="{{ path ('chouettes_accessoires') }}">
                    <div class="boxMenu">
                        <h1 class="h3BoxMenu accessoiresindex">Accessoires</h1>
                        <div class="center notForSmall">
                            <img  class="imgChouetteAnimee" data-alt-src="{{ 'accessoires-chouette2.png' | imagine_filter('thumb_fixe') }}" src="{{ 'accessoires-chouette1.png' | imagine_filter('thumb_fixe') }}" alt="accessoires fait main"/>
                        </div>
                    </div>
                </a>
            </div>
<!-- End col l4 m3 s1-->

            <div class="col l4 m4 s12 colCustom">
                <div class="ih-item square effect13 top_to_bottom">
                    <a href="{{ path ('chouettes_bijoux') }}">
                        <div>
                            <img class='imgDamier' src="{{ bijoux.image.url | imagine_filter('my_thumb') }}" alt="{{ bijoux.image.alt }}">
                        </div>
                        <div class="info">
                            <h3> {{ bijoux.titre }}</h3>
                        </div>
                    </a>
                </div>
<!-- End h-item square effect15 top_to_bottom -->
            </div>
        </div>
<!-- End ROW -->
<!-- FIN DEUXIEME LIGNE -->

<!-- DEBUT TROISIEME LIGNE -->
        <div class="row rowCustom">

            <div class="col l4 m4 s12 colCustom center li_contact">
                <a href="{{ path ('chouettes_contact') }}">
                    <div class="boxMenu">
                        <h1 class="h3BoxMenu contactindex">Contact</h1>
                        <div class="center notForSmall">
                            <img class="imgChouetteAnimee" data-alt-src="{{ 'contact-chouette2.png' | imagine_filter('thumb_fixe') }}" src="{{ 'contact-chouette1.png' | imagine_filter('thumb_fixe') }}" alt="contact chouettes hiboux doudous"/>
                        </div>
                    </div>
                </a>
            </div>
<!-- End col l4 m3 s1-->

            <div class="col l4 m4 s12 colCustom">
                <div class="ih-item square effect13 top_to_bottom">
                    <a href="{{ path ('chouettes_accessoires') }}">
                        <div>
                            <img class='imgDamier' src="{{ accessoire.image.url | imagine_filter('my_thumb') }}" alt="{{ accessoire.image.alt }}">
                        </div>
                        <div class="info">
                            <h3> {{ accessoire.titre }}</h3>
                        </div>
                    </a>
                </div>
<!-- End h-item square effect15 top_to_bottom -->
            </div>

            <div class="col l4 m4 s12 colCustom center li_whoami">
                <a href="{{ path ('chouettes_about') }}">
                    <div class="boxMenu">
                        <h1 class="h3BoxMenu whoamiindex">Qui suis-je</h1>
                        <div class="center notForSmall">
                            <img class="imgChouetteAnimee" data-alt-src="{{ 'whoiam-chouette2.png' | imagine_filter('thumb_fixe') }}" src="{{ 'whoiam-chouette1.png' | imagine_filter('thumb_fixe') }}" alt="a propos de moi, chouettes hiboux, doudou"/>
                        </div>
                    </div>
                </a>
            </div>
<!-- End col l4 m3 s1-->
        </div>
<!-- End ROW -->
<!-- FIN TROISIEME LIGNE -->
    </div>
<!-- End container -->
<!-- FIN Block 9 images -->
{% endblock %}
