{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <nav>
            <div class="nav-wrapper">
                <a href="{{ path ('chouettes_homepage') }}" class="brand-logo center">
                    <img src="{{ asset ('bundles/chouettes/images/logo2min.png') }}" alt="Chouettes Hiboux Doudous" class="nb_navbar_logo">
                </a>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="logadmin">
                   <a href="{{ path('admin_homepage') }}" class="adminlog"><i class="fa fa-th fa-3x" aria-hidden="true" title="Accéder à l'administration"></i></a>
                    </div>
                {% else %}

                {% endif %}
            </div>
        </nav>
    </div>


{#--------- CITATION ------------------------------------------------------#}
{# Si pas de citation dans la base de données le blockquote n'est pas affiché #}
{# cf. DefaultController.php #}
    {% if citation == "" %}
        <br>
    {% else %}
        <blockquote>
        {{ citation|raw }}
        </blockquote>
    {% endif %}

{#---------  Message envoi mail OK -----------------------------------------------------#}

    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="flash-notice center">
            {{ flash_message }}
        </div>
    {% endfor %}

{#---------  BLOCK 9 images   ---------------------------------------------#}
<!-- DEBUT Block 9 images -->
    <div class="container bckground">
<!-- DEBUT PREMIERE LIGNE -->

{#{{ dump(doudous) }}#}
{#{{ dump(doudous2) }}#}
{#{{ index }}#}
        <div class="row rowCustom">
            <!-Ligne 1 cube 1 -->
            <div class="col l4 m4 s12 colCustom center li_doudous">
                <a href="{{ path('chouettes_doudous') }}">
                    <div class="boxMenu">
                        <h3 class="h3BoxMenu doudousindex">Doudous</h3>
                        <div class="center notForSmall">
                            <img class="imgChouetteAnimee" data-alt-src="{{ asset ('bundles/chouettes/images/doudous-chouette2.png') }}" src="{{ asset ('bundles/chouettes/images/doudoux-chouette1.png') }}"/>
                        </div>
                    </div>
                </a>
            </div>
<!-- End col l4 m3 s1-->

<!- Ligne 1 cube 2 -->
            <div class="col l4
            {#Bloc photo categorie#} m4 s12 colCustom">
                <div class="ih-item square effect13 top_to_bottom">
                    <a href="{{ path('chouettes_doudous', {'id': doudous.id}) }}">
                        <div>
                            <img class='imgDamier' src="{{asset('uploads/images/')}}{{ doudous.image.url }}" alt="{{ doudous.image.alt }}">
                        </div>
                        <div class="info">
                            <h3> {{ doudous.titre }}</h3>
                        </div>
                    </a>
                </div>
<!-- End h-item square effect15 top_to_bottom -->
            </div>

<!- Ligne 1 cube 3 -->
            <div class="col l4 m4 s12 colCustom center li_bijoux">
                <a href="{{ path ('chouettes_bijoux') }}">
                    <div class="boxMenu">
                        <h3 class="h3BoxMenu bijouxindex">Bijoux</h3>
                        <div class="center notForSmall">
                            <img  class="imgChouetteAnimee" data-alt-src="{{ asset ('bundles/chouettes/images/bijoux-chouette2.png') }}" src="{{ asset ('bundles/chouettes/images/bijoux-chouette1.png') }}"/>
                        </div>
                    </div>
                </a>
            </div>
<!-- End col l4 m3 s1-->
        </div>
<!-- End ROW -->
<!-- FIN PREMIERE LIGNE -->

<!-- DEBUT DEUXIEME LIGNE -->
        <div class="row rowCustom">

            <div class="col l4 m4 s12 colCustom">
                <div class="ih-item square effect13 top_to_bottom">

                    <a href="{{ path ('chouettes_doudous') }}">
                        <div>
                            <img class='imgDamier' src="{{asset('uploads/images/')}}{{doudous2.image.url }}" alt="{{ doudous2.image.alt }}">
                        </div>
                        <div class="info">
                            {#<h3>Grands doudous</h3>#}
                            <h3> {{ doudous2.titre }}</h3>
                        </div>
                    </a>
                </div>
<!-- End h-item square effect15 top_to_bottom -->
            </div>

            <div class="col l4 m4 s12 colCustom center li_accessoires">
                <a href="{{ path ('chouettes_accessoires') }}">
                    <div class="boxMenu">
                        <h3 class="h3BoxMenu accessoiresindex">Accessoires</h3>
                        <div class="center notForSmall">
                            <img  class="imgChouetteAnimee" data-alt-src="{{ asset ('bundles/chouettes/images/accessoires-chouette2.png') }}" src="{{ asset ('bundles/chouettes/images/accessoires-chouette1.png') }}"/>
                        </div>
                    </div>
                </a>
            </div>
<!-- End col l4 m3 s1-->

            <div class="col l4 m4 s12 colCustom">
                <div class="ih-item square effect13 top_to_bottom">
                    <a href="{{ path ('chouettes_bijoux') }}">
                        <div>
                            <img class='imgDamier' src="{{asset('uploads/images/')}}{{bijoux.image.url }}" alt="{{ bijoux.image.alt }}">
                        </div>
                        <div class="info">
                            <h3> {{ bijoux.titre }}</h3>
                        </div>
                    </a>
                </div>
<!-- End h-item square effect15 top_to_bottom -->
            </div>
        </div>
<!-- End ROW -->
<!-- FIN DEUXIEME LIGNE -->

<!-- DEBUT TROISIEME LIGNE -->
        <div class="row rowCustom">

            <div class="col l4 m4 s12 colCustom center li_contact">
                <a href="{{ path ('chouettes_contact') }}">
                    <div class="boxMenu">
                        <h3 class="h3BoxMenu contactindex">Contact</h3>
                        <div class="center notForSmall">
                            <img class="imgChouetteAnimee" data-alt-src="{{ asset ('bundles/chouettes/images/contact-chouette2.png') }}" src="{{ asset ('bundles/chouettes/images/contact-chouette1.png') }}"/>
                        </div>
                    </div>
                </a>
            </div>
<!-- End col l4 m3 s1-->

            <div class="col l4 m4 s12 colCustom">
                <div class="ih-item square effect13 top_to_bottom">
                    <a href="{{ path ('chouettes_accessoires') }}">
                        <div>
                            <img class='imgDamier' src="{{asset('uploads/images/')}}{{accessoire.image.url }}" alt="{{ accessoire.image.alt }}">
                        </div>
                        <div class="info">
                            <h3> {{ accessoire.titre }}</h3>
                        </div>
                    </a>
                </div>
<!-- End h-item square effect15 top_to_bottom -->
            </div>

            <div class="col l4 m4 s12 colCustom center li_whoami">
                <a href="{{ path ('chouettes_about') }}">
                    <div class="boxMenu">
                        <h3 class="h3BoxMenu whoamiindex">Qui suis-je</h3>
                        <div class="center notForSmall">
                            <img class="imgChouetteAnimee" data-alt-src="{{ asset ('bundles/chouettes/images/whoiam-chouette2.png') }}" src="{{ asset ('bundles/chouettes/images/whoiam-chouette1.png') }}"/>
                        </div>
                    </div>
                </a>
            </div>
<!-- End col l4 m3 s1-->
        </div>
<!-- End ROW -->
<!-- FIN TROISIEME LIGNE -->
    </div>
<!-- End container -->
<!-- FIN Block 9 images -->
{% endblock %}
