<header>
    <div>
        <nav>
            <div class="nav-wrapper">
                <a href="{{ path ('chouettes_homepage') }}" class="brand-logo chouetteHibouxLogo">
                    <img src="{{ asset ('bundles/chouettes/images/logo2min.png') }}" alt="Chouettes Hiboux Doudous" class="navbar_logo">
                </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse">
                    <i class="large material-icons grey-text text-darken-3">menu</i>
                </a>
                <ul class="right hide-on-med-and-down full_nav">
                    <li class="li_doudous"><a href="{{ path ('chouettes_doudous') }}" class="doudous">Doudous</a></li>
                    <li class="li_bijoux"><a href="{{ path ('chouettes_bijoux') }}" class="bijoux">Bijoux</a></li>
                    <li class="li_accessoires"><a href="{{ path ('chouettes_accessoires') }}" class="accessoires">Accessoires</a></li>
                    <li class="li_whoami"><a href="{{ path ('chouettes_about') }}" class="whoami">Qui suis-je ?</a></li>
                </ul>

                <ul class="side-nav" id="mobile-demo">
                    <li class="li_accueil"><a href="{{ path ('chouettes_homepage') }}" class="accueil">Accueil</a></li>
                    <li class="li_doudous"><a href="{{ path ('chouettes_doudous') }}" class="doudous">Doudous</a></li>
                    <li class="li_bijoux"><a href="{{ path ('chouettes_bijoux') }}" class="bijoux">Bijoux</a></li>
                    <li class="li_accessoires"><a href="{{ path ('chouettes_accessoires') }}" class="accessoires">Accessoires</a></li>
                    <li class="li_whoami"><a href="{{ path ('chouettes_about') }}" class="whoami">Qui suis-je ?</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>