{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Chouettes/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}

    <div class="main">
        <ul id="og-grid" class="og-grid">
            <!-- 1ere ligne -->
            <li>
                <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="{{ asset ('bundles/chouettes/images/araigne.jpg') }}" class="imglg" data-title="Maité l'araignée" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot." data-ref="Livre">
                    <img src="{{ asset ('bundles/chouettes/images/araigne.jpg') }}" class="thumbs" alt="img01"/>
                </a>
            </li>
            <li>
                <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="{{ asset ('bundles/chouettes/images/bbb.jpg') }}" class="imglg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="{{ asset ('bundles/chouettes/images/bbb.jpg') }}" class="thumbs" alt="img02"/>
                </a>
            </li>
            <li>
                <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="{{ asset ('bundles/chouettes/images/c.jpg') }}" class="imglg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                    <img src="{{ asset ('bundles/chouettes/images/c.jpg') }}" class="thumbs" alt="img03"/>
                </a>
            </li>
            <li>
                <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="{{ asset ('bundles/chouettes/images/ele.jpg') }}" class="imglg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="{{ asset ('bundles/chouettes/images/ele.jpg') }}" class="thumbs" alt="img01"/>
                </a>
            </li>
            <!-- 2eme ligne -->
            <li>
                <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="{{ asset('bundles/chouettes/images/girafe1.jpg') }}" class="imglg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="{{ asset('bundles/chouettes/images/girafe1.jpg') }}" class="thumbs" alt="img01"/>
                </a>
            </li>
            <li>
                <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="{{ asset('bundles/chouettes/images/hibouxxx.jpg') }}" class="imglg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="{{ asset('bundles/chouettes/images/hibouxxx.jpg') }}" class="thumbs" alt="img02"/>
                </a>
            </li>
            <li>
                <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="{{ asset('bundles/chouettes/images/hochet.jpg') }}" class="imglg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                    <img src="{{ asset('bundles/chouettes/images/hochet.jpg') }}" class="thumbs" alt="img03"/>
                </a>
            </li>
            <li>
                <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="{{ asset('bundles/chouettes/images/mignon.jpg') }}" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="{{ asset('bundles/chouettes/images/mignon.jpg') }}" class="thumbs" alt="img01"/>
                </a>
            </li>
            <!-- 3eme ligne -->
            <li>
                <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="{{ asset('bundles/chouettes/images/poi.jpg') }}" class="imglg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="{{ asset('bundles/chouettes/images/poi.jpg') }}" class="thumbs" alt="img01"/>
                </a>
            </li>
            <li>
                <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="{{ asset('bundles/chouettes/images/y.jpg') }}" class="imglg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                    <img src="{{ asset('bundles/chouettes/images/y.jpg') }}" class="thumbs" alt="img02"/>
                </a>
            </li>
            <li>
                <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="{{ asset('bundles/chouettes/images/r.jpg') }}" class="imglg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                    <img src="{{ asset('bundles/chouettes/images/r.jpg') }}" class="thumbs" alt="img03"/>
                </a>
            </li>
            <li>
                <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="{{ asset('bundles/chouettes/images/lapin.jpg') }}" class="imglg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                    <img src="{{ asset('bundles/chouettes/images/lapin.jpg') }}" class="thumbs" alt="img01"/>
                </a>
            </li>
        </ul>
    </div>
    </div><!-- /container -->


{% endblock %}