{% extends 'base.html.twig' %}

{% block title %}
    Contact -
{% endblock %}

{% block body %}
    <div class="container contact">

        {% if modele is defined %}
            <h1>Contactez-moi, vous en saurez plus sur "{{ modele.titre }}"</h1>
        {% else %}
            <h1>Contactez-moi</h1>
        {% endif %}

        <div class="row">

            <form class="col s12" action="{{ path('send_mail') }}" method="post">


                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons contactme prefix">account_circle</i>
                        <input name="prenom" id="first_name" type="text" class="validate" required="" aria-required="true">
                        <label for="first_name">Prénom</label>
                    </div>
                    <div class="input-field col s6">
                        <input name="nom" id="last_name" type="text" class="validate" required="" aria-required="true">
                        <label for="last_name">Nom</label>
                    </div>
                </div>


                <div class="input-field col s12">
                    <i class="material-icons contactme prefix">mail</i>
                    <input name="mail" id="email" type="email" class="validate" required="" aria-required="true">
                    <label for="email" data-error="Erreur, ceci n'est pas une adresse mail valide" data-success="right">Email</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons contactme prefix">subject</i>
                    <select name="Sujet" required="" aria-required="true">
                        <option value="Sélectionner" disabled selected class="select">Sujet</option>
                        <option value="Doudou sur mesure">Doudou sur mesure</option>
                        <option value="Bijoux">Bijoux</option>
                        <option value="Conseils">Conseils</option>
                    </select>
                </div>


                <div class="input-field col s12">
                    <i class="material-icons contactme prefix">mode_edit</i>
                    <textarea name="msg" id="textarea1" class="materialize-textarea" required="" aria-required="true"></textarea>
                    <label for="textarea1">Votre message :</label>
                </div>

                {% if modele is defined %}
                    <div class="hide">
                        <input type="text" name="nameModele" value="{{ modele.titre }}">
                        <input type="text" name="urlImgModele" value="{{ modele.image.url }}">
                        <input type="text" name="categModele" value="{{ modele.categorie.nom }}">
                    </div>
                {% endif %}

                <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Envoyer
                        <i class="material-icons right contactme send">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>

{%  endblock %}
