{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Chouettes/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}

    <div class="main">
        <ul id="og-grid" class="og-grid">
            {% for modele in modeles %}
                <li>
                    <a href="#" data-largesrc="{{ asset('uploads/images/') }}{{ modele.url }}" class="imglg" data-title="{{ modele.titre }}" data-description="{{ modele.contenu|raw }}">
                        <img src="{{ asset('uploads/images/') }}{{ modele.url }}" class="thumbs" alt="{{ modele.alt }}"/>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
