{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Chouettes/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}

    <div class="main">
        <ul id="og-grid" class="og-grid">
            {% for modele in modeles %}
                <li>
                    <a href="{{ modele.lien }}" data-largesrc="{{ asset('uploads/images/') }}{{ modele.image }}" class="imglg" data-title="{{ modele.titre }}" data-description="{{ modele.contenu }}">
                        <img src="{{ asset('uploads/images/') }}{{ modele.image }}" class="thumbs" alt="{{ modele.image.alt }}"/>
                    </a>
                </li>
            {% endfor %}

        </ul>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var doudou_id = {{ app.request.get('id') }}
//        $(function() {
//            $('#' + doudou_id).click();
//        });

        $("document").ready(function() {
            setTimeout(function() {
                $('#' + doudou_id).trigger('click');
            },10);
        });
    </script>
{% endblock %}