{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Chouettes/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container admin">
    <h1 class="catdmin">Modifier une catégorie</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
            <button type="submit" title="Valider"><i class="material-icons bijoux">done</i></button>
        {{ form_end(edit_form) }}
        {{ form_start(delete_form) }}<button type="submit" title="Effacer"><i class="material-icons bijoux">delete</i></button>{{ form_end(delete_form) }}


        <div class="boutons">
            <div class="row">
                <a href="{{ path('categorie_index') }}" title="Retour à l'accueil"><i class="material-icons bijoux">arrow_back</i></a>
                <a href="{{ path('admin_homepage') }}" title="Retourner à l'accueil de l'administration"><i class="material-icons bijoux">dashboard</i></a>
            </div>
        </div>


    </div>
{% endblock %}
