{% include '@Chouettes/user/header.html.twig' %}

{% block header %}
    <div>
        <nav>
            <div class="nav-wrapper">
                <a href="../bleau_S2_2016_chouette_hibou/index.php" class="brand-logo center">
                    <img src={{ asset ('bundles/images/logo2min.png') }} alt="Chouettes Hiboux Doudous" class="nb_navbar_logo">
                </a>
            </div>
        </nav>
    </div>
{% endblock %}

{#{%  block citations %}#}
{#{% include '@Chouettes/Admin/citation/show.html.twig' %}#}
{#{%  endblock %}#}

{% block body %}

<!-- DEBUT Block 9 images -->
<div class="container bckground">
    <!-- DEBUT PREMIERE LIGNE -->

    <div class="row rowCustom">
        <div class="col l4 m4 s12 colCustom center doudous">
            <a href="doudous.php">
                <div class="boxMenu">
                    <h3 class="h3BoxMenu">Doudous</h3>
                    <div class="center notForSmall">
                        <img class="imgChouetteAnimee" data-alt-src="{{ asset ('bundles/images/chouette2.png') }}" src="{{ asset ('bundles/images/chouette1.png') }}"/>
                    </div>
                </div>
            </a>
        </div> <!-- End col l4 m3 s1-->

        <div class="col l4 m4 s12 colCustom">
            <div class="ih-item square effect13 top_to_bottom">
                <a href="#">
                    <div>
                        <img class='imgDamier' src="{{ asset ('bundles/images/petitDoudou.jpg') }}" alt="img">
                    </div>
                    <div class="info">
                        <h3>Petits doudous</h3>
                        <p>Modèle d'après un tuto d'amigurumi, en laine acrylique , bourrage en ouatine synthétique</p>
                    </div>
                </a>
            </div> <!-- End h-item square effect15 top_to_bottom -->
        </div>

        <div class="col l4 m4 s12 colCustom center bijoux">
            <a href="bijoux.php">
                <div class="boxMenu">
                    <h3 class="h3BoxMenu">Bijoux</h3>
                    <div class="center notForSmall">
                        <img  class="imgChouetteAnimee" data-alt-src="{{ asset ('bundles/images/chouette2.png') }}" src="{{ asset ('bundles/images/chouette1.png') }}"/>
                    </div>
                </div>
            </a>
        </div> <!-- End col l4 m3 s1-->

    </div> <!-- End ROW -->
    <!-- FIN PREMIERE LIGNE -->

    <!-- DEBUT DEUXIEME LIGNE -->
    <div class="row rowCustom">

        <div class="col l4 m4 s12 colCustom">
            <div class="ih-item square effect13 top_to_bottom">

                <a href="#">
                    <div>
                        <img class='imgDamier' src={{ asset ('bundles/images/grandDoudou.jpg') }} alt="img">
                    </div>
                    <div class="info">
                        <h3>Grands doudous</h3>
                        <p>Modèle d'après la revue "Tricot Mag Les doudous de Sophie", en peine acrylique et bourrage en ouatine synthétique.</p>
                    </div>
                </a>
            </div> <!-- End h-item square effect15 top_to_bottom -->
        </div>

        <div class="col l4 m4 s12 colCustom center accessoires">
            <a href="Accessoires.php">
                <div class="boxMenu">
                    <h3 class="h3BoxMenu">Accessoires</h3>
                    <div class="center notForSmall">
                        <img  class="imgChouetteAnimee" data-alt-src="{{ asset ('bundles/images/chouette2.png') }}" src="{{ asset ('bundles/images/chouette1.png') }}"/>
                    </div>
                </div>
            </a>
        </div> <!-- End col l4 m3 s1-->

        <div class="col l4 m4 s12 colCustom">
            <div class="ih-item square effect13 top_to_bottom">
                <a href="#">
                    <div>
                        <img class='imgDamier' src="{{ asset ('bundles/images/accessoire.jpg') }}" alt="img">
                    </div>
                    <div class="info">
                        <h3>Bijoux</h3>
                        <p>Sautoir d'après un modèle de La Droguerie, matériel acheté dans leur boutique à Paris.</p>
                    </div>
                </a>
            </div> <!-- End h-item square effect15 top_to_bottom -->
        </div>

    </div> <!-- End ROW -->
    <!-- FIN DEUXIEME LIGNE -->

    <!-- DEBUT TROISIEME LIGNE -->
    <div class="row rowCustom">

        <div class="col l4 m4 s12 colCustom center contactme">
            <a href="form.php">
                <div class="boxMenu">
                    <h3 class="h3BoxMenu">Contact</h3>
                    <div class="center notForSmall">
                        <img class="imgChouetteAnimee" data-alt-src="{{ asset ('bundles/images/chouette2.png') }}" src="{{ asset ('bundles/images/chouette1.png') }}"/>
                    </div>
                </div>
            </a>
        </div> <!-- End col l4 m3 s1-->

        <div class="col l4 m4 s12 colCustom">
            <div class="ih-item square effect13 top_to_bottom">
                <a href="#">
                    <div>
                        <img class='imgDamier' src="{{ asset ('bundles/images/accessoires.jpg') }}" alt="img">
                    </div>
                    <div class="info">
                        <h3>Accessoires</h3>
                        <p>modèle créé d'après une photo, en tissu coton, feutrine, boutons et fil de coton.</p>
                    </div>
                </a>
            </div> <!-- End h-item square effect15 top_to_bottom -->
        </div>

        <div class="col l4 m4 s12 colCustom center whoami">
            <a href="about.php">
                <div class="boxMenu">
                    <h3 class="h3BoxMenu">Qui suis-je</h3>
                    <div class="center notForSmall">
                        <img class="imgChouetteAnimee" data-alt-src="{{ asset ('bundles/images/chouette2.png') }}" src="{{ asset ('bundles/images/chouette1.png') }}"/>
                    </div>
                </div>
            </a>
        </div> <!-- End col l4 m3 s1-->

    </div> <!-- End ROW -->
    <!-- FIN TROISIEME LIGNE -->
</div>  <!-- End container -->
<!-- FIN Block 9 images -->
{% endblock %}




{% include '@Chouettes/user/footer.html.twig' %}
